.header-box
  .header-box__bottom
    %ul#dropmenu.header-box__bottom__left
      %li
        = link_to  "カテゴリーから探す ",  "# ", id: "search-category ", class: "fa fa-list-ul "
        %ul.main__catagory
          - @categories.each do |category1|
            %li.main__catagory--list
              = category1.name
              %ul.sub__catagory
                - category1.children.each do |category2|
                  %li.sub__catagory--list
                    = category2.name
                    %ul.sub__sub__catagory
                      - category2.children.each do |category3|
                        %li.sub__sub__catagory--list
                          = category3.name
      %li
        = link_to  "ブランドから探す ",  "# ", id: "search-brand ", class: "fa fa-tag "
        %ul#sample
          %li
            = link_to  "サブメニュー ",  "# "
          %li
            = link_to  "サブメニュー ",  "# "
          %li
            = link_to  "サブメニュー ",  "# "
          %li
            = link_to  "サブメニュー ",  "# "


