.pickup-container
  %h2.pickup-head ピックアップカテゴリー
  .items-box-container
    %h3.text-center
      =link_to 'レディース 新着アイテム', '', class: 'link-blue'
    .items-box-content
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name Drug  honey ドラッグハニー 3連カーゴポケット ワイドパンツ 新品
            .items-box-num
              .items-box-price ¥ 5,000
              .font-2
                %i.icon-like-border
                %span 24
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko1.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name minimum minimum トップス
            .items-box-num
              .items-box-price ¥ 799
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko2.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name ぬいぐるみリュック
            .items-box-num
              .items-box-price ¥ 1,400
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko3.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name 着圧 ストッキング ベージュ送料無料
            .items-box-num
              .items-box-price ¥ 300
            %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/1/"} すべての商品を見る

    .items-box-container
    %h3.text-center.text-mercari-blue
      =link_to 'メンズ 新着アイテム', '', class: 'link-blue'
    .items-box-content
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko4.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name Drug  honey ドラッグハニー 3連カーゴポケット ワイドパンツ 新品
            .items-box-num
              .items-box-price ¥ 5,000
              .font-2
                %i.icon-like-border
                %span 24
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko5.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name minimum minimum トップス
            .items-box-num
              .items-box-price ¥ 799
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko6.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name ぬいぐるみリュック
            .items-box-num
              .items-box-price ¥ 1,400
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko7.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name 着圧 ストッキング ベージュ送料無料
            .items-box-num
              .items-box-price ¥ 300
            %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/1/"} すべての商品を見る

    .items-box-container
    %h3.text-center
      =link_to 'ベビー・キッズ 新着アイテム', '', class: 'link-blue'
    .items-box-content
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko8.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name Drug  honey ドラッグハニー 3連カーゴポケット ワイドパンツ 新品
            .items-box-num
              .items-box-price ¥ 5,000
              .font-2
                %i.icon-like-border
                %span 24
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko9.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name minimum minimum トップス
            .items-box-num
              .items-box-price ¥ 799
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko10.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name ぬいぐるみリュック
            .items-box-num
              .items-box-price ¥ 1,400
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko11.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name 着圧 ストッキング ベージュ送料無料
            .items-box-num
              .items-box-price ¥ 300
            %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/1/"} すべての商品を見る

    .items-box-container
    %h3.text-center
      =link_to 'コスメ・香水・美容 新着アイテム', '', class: 'link-blue'
    .items-box-content
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko12.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name Drug  honey ドラッグハニー 3連カーゴポケット ワイドパンツ 新品
            .items-box-num
              .items-box-price ¥ 5,000
              .font-2
                %i.icon-like-border
                %span 24
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko13.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name minimum minimum トップス
            .items-box-num
              .items-box-price ¥ 799
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name ぬいぐるみリュック
            .items-box-num
              .items-box-price ¥ 1,400
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko2.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name 着圧 ストッキング ベージュ送料無料
            .items-box-num
              .items-box-price ¥ 300
            %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/1/"} すべての商品を見る

.pickup-container
  %h2.pickup-head ピックアップブランド
  .items-box-container
    %h3.text-center
      =link_to 'シャネル 新着アイテム', '', class: 'link-blue'
    .items-box-content
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko3.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name Drug  honey ドラッグハニー 3連カーゴポケット ワイドパンツ 新品
            .items-box-num
              .items-box-price ¥ 5,000
              .font-2
                %i.icon-like-border
                %span 24
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko4.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name minimum minimum トップス
            .items-box-num
              .items-box-price ¥ 799
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko5.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name ぬいぐるみリュック
            .items-box-num
              .items-box-price ¥ 1,400
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko6.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name 着圧 ストッキング ベージュ送料無料
            .items-box-num
              .items-box-price ¥ 300
            %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/1/"} すべての商品を見る

    .items-box-container
    %h3.text-center
      =link_to 'ルイ ヴィトン 新着アイテム', '', class: 'link-blue'
    .items-box-content
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko7.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name Drug  honey ドラッグハニー 3連カーゴポケット ワイドパンツ 新品
            .items-box-num
              .items-box-price ¥ 5,000
              .font-2
                %i.icon-like-border
                %span 24
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko8.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name minimum minimum トップス
            .items-box-num
              .items-box-price ¥ 799
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko9.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name ぬいぐるみリュック
            .items-box-num
              .items-box-price ¥ 1,400
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko10.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name 着圧 ストッキング ベージュ送料無料
            .items-box-num
              .items-box-price ¥ 300
            %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/1/"} すべての商品を見る

    .items-box-container
    %h3.text-center
      =link_to 'シュプリーム 新着アイテム', '', class: 'link-blue'
    .items-box-content
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko11.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name Drug  honey ドラッグハニー 3連カーゴポケット ワイドパンツ 新品
            .items-box-num
              .items-box-price ¥ 5,000
              .font-2
                %i.icon-like-border
                %span 24
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko12.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name minimum minimum トップス
            .items-box-num
              .items-box-price ¥ 799
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko13.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name ぬいぐるみリュック
            .items-box-num
              .items-box-price ¥ 1,400
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name 着圧 ストッキング ベージュ送料無料
            .items-box-num
              .items-box-price ¥ 300
            %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/1/"} すべての商品を見る

    .items-box-container
    %h3.text-center
      =link_to 'ナイキ 新着アイテム', '', class: 'link-blue'
    .items-box-content
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko1.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name Drug  honey ドラッグハニー 3連カーゴポケット ワイドパンツ 新品
            .items-box-num
              .items-box-price ¥ 5,000
              .font-2
                %i.icon-like-border
                %span 24
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko2.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name minimum minimum トップス
            .items-box-num
              .items-box-price ¥ 799
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko3.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name ぬいぐるみリュック
            .items-box-num
              .items-box-price ¥ 1,400
            %p.item-box-tax (税込)
      .items-box
        %a{:href => "/"}
          .items-box-photo
            = image_tag 'neko.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
          .items-box-body
            %h3.items-box-name 着圧 ストッキング ベージュ送料無料
            .items-box-num
              .items-box-price ¥ 300
            %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/1/"} すべての商品を見る