-userName = @item.user.family_name + @item.user.first_name
-prevItemId = @item.id - 1
-nextItemId = @item.id + 1
#items_show
  .main-content
    .header
      = render 'header'
    .main
      .item
        .item-title
          = @item.name
        .item-main
          .image-box
            .image-box__pickup
              = image_tag @item.images.first(), size:'300x300'
              .image-box__pickup__sold

            .image-box__bottom
              -@item.images.each do |image|
                .image-box__bottom__image
                  = image_tag image, size:'75x78'

          .item-main__list
            .item-main__list__row.item-main__list__exhibitor
              .item-main__list__row--name
                出品者
              .item-main__list__row--content
                =link_to '', class:'link-mercari-blue' do
                  = @item.user.nickname
                .content__eva
                  .content__eva--para
                    =fa_icon 'smile-o', class:'good'
                    ="#{896}"
                  .content__eva--para.content__eva--soso
                    =fa_icon 'meh-o', class:'soso'
                    ="#{27}"
                  .content__eva--para.content__eva--bad
                    =fa_icon 'frown-o', class:'bad'
                    ="#{4}"
            .item-main__list__row.item-main__list__category
              .item-main__list__row--name
                カテゴリー
              .item-main__list__row--content
                =link_to "#{@item.category.name}", '', class:'link-mercari-blue'
                -# =link_to '', class:'link-mercari-blue' do
                -#   =fa_icon 'chevron-right',class:"icon-arrow"
                -#   ="#{'バッグ'}"
                -# =link_to '', class:'link-mercari-blue' do
                -#   =fa_icon 'chevron-right',class:"icon-arrow"
                -#   ="#{'ショルダーバッグ'}"
            .item-main__list__row.item-main__list__brand
              .item-main__list__row--name
                ブランド
              .item-main__list__row--content
                -if(false)
                  =link_to "#{'コーチ'}", '', class:'link-mercari-blue'
            .item-main__list__row.item-main__list__status
              .item-main__list__row--name
                商品の状態
              .item-main__list__row--content
                = @item.status
            .item-main__list__row.item-main__list__ship-burden
              .item-main__list__row--name
                配送料の負担
              .item-main__list__row--content
                =@item.shipping_agency
            .item-main__list__row.item-main__list__ship-method
              .item-main__list__row--name
                配送の方法
              .item-main__list__row--content
                メルカリ便
            .item-main__list__row.item-main__list__disp-area
              .item-main__list__row--name
                配送元地域
              .item-main__list__row--content
                =link_to "#{@item.state}", '', class:'link-mercari-blue'
            .item-main__list__row.item-main__list__ship-date
              .item-main__list__row--name
                発送日の目安
              .item-main__list__row--content
                =@item.duration

        .item-price
          %span.item-price--price
            ="\¥#{@item.price}"
          %span.item-price--tax
            (税込)
          %span.item-price--postage

            ="#{'送料込み'}"
        -# - if (@item.user_id = current_user)
        -#   .buy_btn
        -#     =link_to "編集へ", root_path, class:'buy_btn'
        - if (@item.sold_out == false)
          .buy_btn
            = link_to item_purchases_path(@item), class:'buy_btn' do
              購入画面に進む
        - else
          .buy_btn.sold_out
            売り切れました

        %p.item-description.clerfix
          
          -text = "■商品ご覧頂き、誠にありがとうございます。\n※今だけ、フォロワーになって下さった方に、300円のお値引きサービス中！！\n\n私の商品検索は、\n#Boon・バッグ\n検索してください。\n\n質問がありましたらコメントでよろしくお願いします！\n■ 商品説明 ■\nまずはプロフを確認してください☆\n\n■ 商品詳細 ■\nシンプルな落ち着いたお色味でどんな場面にも合い、\nどんな服にも合わせやすいお鞄です。使用感有！角擦れはございませんが\n使わなくなったのでどなたか使っていただける方お願いします。\n製造番号　H2K-9294\n\n【ブランド】\nCOACH　コーチ\n\n【商品名】\nコーチ大き目シンプル\n\n【仕様】\n外ポケット１　内ポケット４\n\n【サイズ】\n縦：32\n横：31\n幅：7\n紐：130 多少調節可能\n\n＊他にも数多くの商品を出品しているので、ぜひご覧ください。\n＊複数購入、お取り置き(５日まで)もできるので、お気軽にお声がけくださいませ。\n＊中古品になりますので、予めご理解いただきますよう、お願い致します^_^\n※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。\n\n#シンプル #かわいい #大き目 #かばん #バッグ"
          = @item.description
          = simple_format(text, {})

       

    .chat
      .message-box
        .message-box__icon
          = image_tag 'mercari_icon.png', size:'40x40'
        .message-box__content
          .message-box__content__message
            出品者がコメントを削除しました
          .message-box__content__info
            200日前
    .prev-next-items
      -if(prevItemId != 0 && (prevItem = Item.find_by(id: prevItemId)) != nil)
        =link_to item_path(prevItemId), class:"nav-link link-mercari-blue" do
          =fa_icon 'chevron-left',class:"icon-arrow"
          =prevItem.name
      -if((nextItem = Item.find_by(id: nextItemId)) != nil)
        =link_to item_path(nextItemId), class:"nav-link link-mercari-blue" do
          =nextItem.name
          =fa_icon 'chevron-right',class:"icon-arrow"
    .sns
      .sns__item.sns__facebook
        =link_to '' do
          =fa_icon 'facebook-square 3x'
      .sns__item.sns__twitter
        =link_to '' do
          =fa_icon 'twitter-square 3x', class:'link-mercari-blue'
      .sns__item.sns__pinterest
        =link_to '' do
          = image_tag 'pinterest.png', size:'38x38'
    -if(@userItems.length > 1)
      .pickup-container
        .items-box-container
          %h3.text-center
            =link_to "#{userName}さんのその他の出品", '', class: 'link-blue'
          -for i in 0..((@userItems.length - 1) / 3)
            .items-box-content
              -for j in 0..2
                -if(@userItems[j] != nil)
                  .items-box
                    %a{:href => "/"}
                      .items-box-photo
                        = image_tag 'neko1.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
                      .items-box-body
                        %h3.items-box-name
                          =@userItems[j].name
                        .items-box-num
                          .items-box-price
                            ="\¥#{@userItems[j].price}"
                        %p.item-box-tax (税込)

    -if(@cateItems.length > 1)
      .items-box-container
        %h3.text-center
          =link_to "#{@item.category.name}その他の出品", '', class: 'link-blue'
        .items-box-content
          -for i in 0..(@cateItems.length - 1)
            -if(@cateItems[i] != nil)
              .items-box
                %a{:href => "/"}
                  .items-box-photo
                    = image_tag 'neko1.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
                  .items-box-body
                    %h3.items-box-name
                      =@cateItems[i].name
                    .items-box-num
                      .items-box-price
                        ="\¥#{@cateItems[i].price}"
                    %p.item-box-tax (税込)


    .footer
      = render 'footer'


-# = @item.category.parent.parent.name
-# = @item.category.parent.name
-# = @item.category.name
-# = @item.brand.name

