-userName = @item.user.family_name + @item.user.first_name
-prevItemId = @item.id - 1
-nextItemId = @item.id + 1
#items_show
  .main-content
    .header
      = render 'header'
    .main
      .item
        .item-title
          =@item.name
        .item-overview
          ="#{@item.name}は、904回の取引実績を持つ#{userName}さんから出品されました。#{@item.category.name}の商品で、#{@item.state}から#{@item.duration}されます。"
        .item-main
          .image-box
            .image-box__pickup
              = image_tag @item.images.first(), size:'300x300'
              .image-box__pickup__sold

            .image-box__bottom
              -@item.images.each do |image|
                .image-box__bottom__image
                  = image_tag image, size:'75x78'

          .item-main__list
            .item-main__list__row.item-main__list__exhibitor
              .item-main__list__row--name
                出品者
              .item-main__list__row--content
                =link_to "#{userName}", '', class:'link-mercari-blue'
                .content__eva
                  .content__eva--para
                    =fa_icon 'smile-o', class:'good'
                    ="#{896}"
                  .content__eva--para.content__eva--soso
                    =fa_icon 'meh-o', class:'soso'
                    ="#{27}"
                  .content__eva--para.content__eva--bad
                    =fa_icon 'frown-o', class:'bad'
                    ="#{4}"
            .item-main__list__row.item-main__list__category
              .item-main__list__row--name
                カテゴリー
              .item-main__list__row--content
                =link_to "#{@item.category.name}", '', class:'link-mercari-blue'
                -# =link_to '', class:'link-mercari-blue' do
                -#   =fa_icon 'chevron-right',class:"icon-arrow"
                -#   ="#{'バッグ'}"
                -# =link_to '', class:'link-mercari-blue' do
                -#   =fa_icon 'chevron-right',class:"icon-arrow"
                -#   ="#{'ショルダーバッグ'}"
            .item-main__list__row.item-main__list__brand
              .item-main__list__row--name
                ブランド
              .item-main__list__row--content
                -if(false)
                  =link_to "#{'コーチ'}", '', class:'link-mercari-blue'
            .item-main__list__row.item-main__list__status
              .item-main__list__row--name
                商品の状態
              .item-main__list__row--content
                ="#{@item.status}"
            .item-main__list__row.item-main__list__ship-burden
              .item-main__list__row--name
                配送料の負担
              .item-main__list__row--content
                =@item.shipping_agency
            .item-main__list__row.item-main__list__ship-method
              .item-main__list__row--name
                配送の方法
              .item-main__list__row--content
                らくらくメルカリ便
            .item-main__list__row.item-main__list__disp-area
              .item-main__list__row--name
                配送元地域
              .item-main__list__row--content
                =link_to "#{@item.state}", '', class:'link-mercari-blue'
            .item-main__list__row.item-main__list__ship-date
              .item-main__list__row--name
                発送日の目安
              .item-main__list__row--content
                =@item.duration
        .item-price
          %span.item-price--price
            ="\¥#{@item.price}"
          %span.item-price--tax
            (税込)
          %span.item-price--postage
            -if (@item.shipping_agency == "送料込み(出品者負担)")
              ="#{'送料込み'}"
            -else
              ="#{'送料別'}"

        //リンク先おなしゃす
        =link_to '購入画面に進む', '', class:"item-buy"
        %p.item-description
          = @item.description
            -if(@item.shipping_agency == "着払い(購入者負担)")
              ="#{'送料別'}"
            -else
              ="#{'送料込み'}"
        .item-buy
          購入する
        %p.item-description
          = simple_format(@item.description, {})
    .chat
      .message-box
        .message-box__icon
          = image_tag 'mercari_icon.png', size:'40x40'
        .message-box__content
          .message-box__content__message
            出品者がコメントを削除しました
          .message-box__content__info
            200日前
    .prev-next-items
      -if(prevItemId != 0 && (prevItem = Item.find_by(id: prevItemId)) != nil)
        =link_to item_path(prevItemId), class:"nav-link link-mercari-blue" do
          =fa_icon 'chevron-left',class:"icon-arrow"
          =prevItem.name
      -if((nextItem = Item.find_by(id: nextItemId)) != nil)
        =link_to item_path(nextItemId), class:"nav-link link-mercari-blue" do
          =nextItem.name
          =fa_icon 'chevron-right',class:"icon-arrow"
    .sns
      .sns__item.sns__facebook
        =link_to '' do
          =fa_icon 'facebook-square 3x'
      .sns__item.sns__twitter
        =link_to '' do
          =fa_icon 'twitter-square 3x', class:'link-mercari-blue'
      .sns__item.sns__pinterest
        =link_to '' do
          = image_tag 'pinterest.png', size:'38x38'
    
    -if(@userItems.length > 1)
      .pickup-container
        .items-box-container
          %h3.text-center
            =link_to "#{userName}さんのその他の出品", '', class: 'link-blue'
          -for i in 0..((@userItems.length - 1) / 3)
            .items-box-content
              -for j in 0..2
                -if(@userItems[j] != nil)
                  .items-box
                    %a{:href => "/"}
                      .items-box-photo
                        = image_tag 'neko1.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
                      .items-box-body
                        %h3.items-box-name
                          =@userItems[j].name
                        .items-box-num
                          .items-box-price
                            ="\¥#{@userItems[j].price}"
                        %p.item-box-tax (税込)

      -if(@cateItems.length > 1)
        .items-box-container
          %h3.text-center
            =link_to "#{@item.category.name}その他の出品", '', class: 'link-blue'
          .items-box-content
            -for i in 0..(@cateItems.length - 1)
              -if(@cateItems[i] != nil)
                .items-box
                  %a{:href => "/"}
                    .items-box-photo
                      = image_tag 'neko1.jpg', alt: '', height: '100%', width: '100%', class: 'lazyloaded'
                    .items-box-body
                      %h3.items-box-name
                        =@cateItems[i].name
                      .items-box-num
                        .items-box-price
                          ="\¥#{@cateItems[i].price}"
                      %p.item-box-tax (税込)

    .footer
      = render 'footer'